
{{#if loading}}
<meta http-equiv="refresh" content="30">
{{else}}
{{/if}}
{{#if totalmovieLength}}
<meta http-equiv="refresh" content="5">
{{else}}
{{/if}}
<!-- ./views/index.handlebars -->
<div class="container-lg mt-5">
  <!-- search bar -->
  {{!-- <div class="row" id="search-bar">
    <div class="col-12">
      <form action="/search">
        <div class="input-group mb-3">
          <input type="text" name="keyword" value="{{keyword}}" class="form-control" placeholder="Enter movie name to search..."
            aria-label="Movie Name..." aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="search-button">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div> --}}
  <!-- movie list -->
  <div class="d-flex">
  <div class="row" id="data-panel">
    {{#if renderData}}
      {{#each renderData}}
      <div class="col-sm-3">
        <div class="mb-2">
          <div class="card">
            <img src="data:image/png;base64,{{this.movieImg}}" class="card-img-top"
              alt="Movie Poster"
              with="500" heigh="750">
            <div class="card-body">
              <h5 class="card-title">{{this.movieTitle}}</h5>
              <br>
              <h5>$250</h5>
            </div>
            <div class="card-footer">
              <a href="/movieList/{{this.id}}/detailed">
                <button class="btn btn-primary btn-show-movie">More</button>
              </a>
              <div class="btn-group">
                <form action="/movieList/cart" method="POST">
                  <input type="hidden" name="productId" value="{{this.id}}">
                  <button type="submit" class="btn btn-success">購票</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{/if}}
      {{#if loading}}
      <div class="text-center">
      <h1>正在讀取資料 請稍後</h1>
      <div class="loader">
        <img src="http://static.demilked.com/wp-content/uploads/2016/06/gif-animations-replace-loading-screen-14.gif"
          alt="Loading..." />
      </div>
      {{/if}}
      {{#if totalmovieLength}}
      <h1>總共有{{totalmovieLength}}部電影,正在抓取第{{movieDataLength}}部電影資料</h1>
      <div class="loader">
        <img src="http://static.demilked.com/wp-content/uploads/2016/06/gif-animations-replace-loading-screen-14.gif"
          alt="Loading..." />
          </div>
      </div>
      {{/if}}
      </div>
      {{#if totalPrice}}
        <nav class="col-md-3 d-none d-md-block sidebar ml-3 "id="cart">
          <div class="sidebar-sticky">
            <ul class="list-group"id="cartItemPanel">
              {{#each renderCart.items}}
              <li class="list-group-item"id="itemCard" data-id ={{this.CartItem.id}}>
                <div>
                <div class="row no-gutters">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{this.name}}</h5>
                      <p>${{this.price}}</p>
                      <div class="btn-group">
                          <button type="submit" class="btn btn-sm btn-outline-secondary"id="add">+</button>
                        <span style="margin: 0 20px;"id="quantity">{{this.CartItem.quantity}}</span>
                          <button type="submit" class="btn btn-sm btn-outline-secondary" id="sub">-</button>
                          <button type="submit" class="btn btn-link" id="del">
                            <i class="fas fa-trash"></i>
                          </button>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </li>
              {{/each}}
            </ul>
            <hr>
            <li class="list-group-item d-flex">
              <div class="d-flex" id="totalPrice">
                <span>Total: $</span>
                <span>{{totalPrice}}</span>
              </div>
              <a class="ml-4"href="/movieList/cart"><button class="btn btn-primary">購物車</button></a>
            </li>
          </div>
        </nav>
      {{/if}}
      </div>
  </div>