
<div class="content">
<div class="content w-50">
<div class="d-flex justify-content-around mr-5">
  {{#if profile.image}}
  <img src="{{profile.image}}" class="img-thumbnail" alt="..."width="200" height="200">
  {{else}}
  <img src="https://p.kindpng.com/picc/s/78-786207_user-avatar-png-user-avatar-icon-png-transparent.png"
    class="img-thumbnail" alt="..."width="200" height="200">
  {{/if}}
  <ul style="list-style-type:none">
    <li>
      <h1>{{profile.name}}</h1>
    </li>
    <li>
      <h5>{{profile.email}}</h5>
    </li>
    <li><a class="btn btn-primary" href="/users/{{profile.id}}/edit">編輯</a></li>
  </ul>
</div>
</div>
<div class="card mr-5 mt-4 w-75">
  <div class="card-body w-75"><h5>已對{{commentLength}}家餐廳評論</h5></div>
  <div class="card-body w-25 d-flex justify-content-around">
    {{#each restaurant}}<a href="/restaurants/{{this.Restaurant.id}}"><img src="{{this.Restaurant.image}}" class="img-thumbnail"
        width="100" height="100" alt="..."></a>{{/each}}
  </div>
 </div>
</div>
