<div class="container py-5">
  <div class="text-center">
    <h1 class="mb-4">{{renderData.movieTitle}}</h1>
    <h6 class="mb-4">{{renderData.subMovieTitle}}</h6>
    <p class="text-secondary mb-1">
      {{renderData.date}}
    </p>
    <img class="img-fluid" src="/img/{{renderData.movieImg}}" alt="Card image cap"
      style="height:auto;">
  </div>
  <div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
      <div class="movieInfo mt-3">
        <strong>類型</strong>
         <ul>
           <li>{{renderData.movieGenres}}</li>
         </ul>
      </div>
      <div class="movieInfo mt-3">
        <strong>導演</strong>
        <ul>
          <li>{{renderData.director}}</li>
        </ul>
      </div>
      <div class="movieInfo mt-3">
        <strong>演員</strong>
        <ul>
          <li>{{renderData.stars}}</li>
        </ul>
      </div>
      <div class="movieInfo mt-3">
          <strong>上映時段</strong>
          {{{renderData.time}}}
      </div>
      <p>
        {{renderData.description}}
      </p>
      <div class="text-center">
      <iframe width="560" height="315" src="{{renderData.trailer}}" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        </div>
    </div>
  </div>
</div>